.app-container {
	width: 100vw;
	height: 100vh;
}

.main-container {
	height: 88%;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0px 20px;
}

.sorting-info {
	height: 30%;
	display: flex;
	justify-content: space-between;
	padding: 0 28px;
}

.info-col-1 {
	width: 49%;
}

.info-col-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.info-title-table {
	height: 20%;
	display: table;
}

.info-title {
	font-size: 48px;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

.info-description {
	height: 50%;
	color: white;
}

.info-col-2 {
	width: 40%;
	color: white;
	display: table;
}

.info-list {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
